.vscode
.idea
.DS_Store
dist
.eslintcache
node_modules
examples/sdn/filter.txt*
examples/energized/filter.txt
examples/energized/hosts
examples/china/filter.txt
examples/whitelist/filter.txt

.npmrc
*.tgz
